{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
            integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css" />
        <link rel="stylesheet" href="/site.css" />
        <title>idkwtr</title>
    </head>
    <body>
        {{ template "nav" . }}
        <main class="wrap">
            {{ template "main" . }}
        </main>
    </body>
</html>
{{ end }}
